* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
    font-family: courier;
}

/* Body Format */
html, body {
    background: #F9F6F1;
    font-family: courier;
    justify-content: center;
}

/* Building Chatbot Content */
#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 60px;
    bottom: 0;
    padding-bottom: 30px;
    overflow-y: scroll;
    height: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: auto;

}

.container h1 {
    margin: 0.5em auto;
    text-align: center;
    font-family: courier;
}

/* Chatbot Container  */
.chatbot {
    background: rgba(255, 255, 255, 0.05);
    width: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chatbox p {
    float: left;
    text-align: left;
    margin: -0.25em 2em;
    color: #fff;
    width: 400px;
}

 input {
    position: fixed;
    position: absolute;
    bottom: 10px;
    left: 30px;
    border: none;
    width: 50%;
    padding: 1em;
    outline: none;
    font-weight: 300;
    font-family: courier;
    background-color: #F0EEE8;
    border-radius: 10px;
}

.inputBox{
  margin-left: auto;
  margin-right: auto;
}


/* ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9);
} */

::placeholder {
    /* color: rgba(255, 255, 255, 0.9); */
     color: black;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #DFDEDE;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C2C2C2;
}

input:hover{
  background-color: #EAE8E0;
}

/* Input and Response */
 #userInput {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 60px;
}
#textInput {
  width: 90%;
  border: none;
  font-family: courier;
  font-size: 17px;

}
.userText {
  padding-top: 10px;
  color: black;
  font-family: courier;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background-color: #419AF2;
  padding: 6px;
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  display: inline-block;
  text-align: left;
}

 .botText {
  /* padding: 10px; */
  padding-top: 10px;
  color: black;
  font-family: courier;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}

/* Bot Messages */
.botText span {
  background-color: #E2E2E2;
  padding: 6px;
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  display: inline-block;
}


/* Button */
.button {
  border-radius: 4px;
  background-color: #F1E1C6;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 30px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 30px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.box{
	padding-top: 20px;
}
