{% extends 'admin/base.html' %}

{% block brand %}
    <a class="navbar-brand" href="{{ admin_view.admin.url }}">
        HAL Advisor Admin
    </a>
{% endblock %}

{% block access_control %}
{% if session.get('admin_logged_in') %}
<div class="navbar-text mr-3">
    Logged in as: <strong>{{ session.get('admin_user', 'Admin') }}</strong>
</div>
<a class="btn btn-outline-light btn-sm" href="{{ url_for('admin.logout') }}">Logout</a>
{% endif %}
{% endblock %}

{% block tail_js %}
{{ super() }}
<script>
    // Auto-dismiss alerts after 5 seconds
    setTimeout(function() {
        $('.alert').fadeOut('slow');
    }, 5000);
</script>
{% endblock %}
